<app-sidebar-menu></app-sidebar-menu>

<app-project-header></app-project-header>

<div class="board">
    <span dragula="stage" [(dragulaModel)]="stages">
        <app-stage *ngFor="let item of stages" [stage]="item"></app-stage>
    </span>
    <app-stage-add></app-stage-add>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Tarefa</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <app-task-detail></app-task-detail>
    </div>
</ng-template>