
.board-header{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 9px;
    display: flex;
    line-height: 30px;

    #container {
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background: #333;
    
        .project-img{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 15px;
        }
    }

    .board-title{
        margin-left: 10px;
    }
}

.board{
    padding: 0 9px;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    background: tomato;

    span{
        display: flex;
    }
}



