/faculdade/Programação Web/Primeiro_Exemplo/nbproject/private/
/faculdade/Programação Web/Primeiro_Exemplo/build/
/faculdade/Programação Web/Conta/nbproject/private/
/faculdade/Programação Web/Conta/build/

dist/
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
tmp/

#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Mac OSX Finder files.
**/.DS_Store
.DS_Store