.register-title{
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}

.btn-password{
    background-color: white;
    border-style: solid;
    border-radius: 3px;
    width: 50px;
    cursor: pointer;
}

.password{

}

.row-submit{
    padding-top: 10px;
}